{% load static %}
<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonte.googleapis.com/css?family=source+Sans+pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css_/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
<header>
    <div class="nav-left">
        <h1><a herf="/"> Blog - home</a></h1>
    </div>
    <div class="nav-right">
        <a href="{% url 'post_new' %}">Nova postagem no blog</a><br>
    </div>
</header>
{% if user.is_authenticated %}
    <p> Olá {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p> Voce nao está logado</p>
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Se registrar</a></li>

{% endif %}
<div class="container">
    {% block content %} {% endblock content %}
</div>

</body>

</html>